{
  "plugins": [
    "prettier-plugin-blade",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-organize-imports"
  ],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": {
        "parser": "blade",
        "tabWidth": 2
      }
    }
  ],
  "tailwindFunctions": ["clsx", "tw", "tv", "cn", "twMerge", "tm", "cx"],
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false
}
